:host {
 display: grid;
  grid-gap: 3px;
  grid-template-columns: repeat(5, 60px);

  button {
    width: 60px;
    height: 20px;
    text-align: center;
  }
  button:hover {
    background-color: darkblue;
    color: white;
  }
}
